body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
}

p{
    padding: 1em;
}

header {
    /*Large top and bottom padding*/
    padding: 2em 0;
    background-color: #444444;
    text-align: center;
    border-bottom: #e7c79b 3px solid;
    background-image: url("../images/outwood_background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    color: white;
    /*    text drop shadow*/
    text-shadow: 2px 2px #000000;
}

li {
    margin: 0;
    padding: 16px;
}

article {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    /*    Background colour with transparency*/
    /*    background-color: rgba(45, 45, 45, 0.9);*/
    /*    border-radius: 10px;*/
    /*    box-shadow: 0 0 10px #000000;*/
}

.home {
    padding: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 16px;

}

/*    Column when mobile*/
@media (max-width: 700px) {
    .home {
        grid-template-columns: 1fr;
    }
}

.home a {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    border: #ffffff 3px solid;
}

.home a{
    display: inline-block;
    text-decoration: none;

}

.home a:hover {
    border: black 3px solid;
}

.home img{
    border-radius: 10px;
    width: 100%;
}

.button {
    background-color: #444444;
    padding: 16px;
    border-radius: 10px;
    margin: 16px;
    box-shadow: #444444 0 0 5px;
    border-bottom: none;
    color: white;
}

a {
    color: black;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    border-bottom: white 1px solid;
    text-shadow: none;
}

nav {
    text-align: center;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    display: inline-block;
}

nav ul {
    padding: 0;
}


footer {
    background-color: #fafafa;
    text-align: center;
    padding: 16px;
    color: #505a67;
    border-top: #e7c79b 3px solid;
    opacity: 90%;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

video {
    width: 100%;
    height: auto;
}

/*Dark mode*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #444444;
    }
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    ul {
        color: white;
    }
    div {
        color: white;
    }
    a {
        color: white;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
    header {
        background-color: #444444;
        color: white;
    }
    footer {
        background-color: #444444;
        color: white;
    }
    .home a {
        background-color: #444444;
        color: white;
        border: #444444 3px solid;
    }
    .home a:hover {
        border: white 3px solid;
    }
    .home img{
        border-radius: 10px;
        width: 100%;
    }
    .button {
        background-color: #444444;
        color: white;
    }
    nav ul li a {
        color: white;
    }
}
